PORT=4010
HASHKEY_RPC_URL=https://testnet.hsk.xyz
HASHKEY_CHAIN_ID=133
CORS_ORIGIN=*
ADMIN_API_KEY=
PRIVATE_KEY=
ADMIN_PRIVATE_KEY=
ISSUER_PRIVATE_KEY=
ADMIN_ADDRESS=
ISSUER_ADDRESS=
COMPLIANCE_REGISTRY_ADDRESS=
SERVICED_ASSET_TOKEN_ADDRESS=
DISTRIBUTION_MODULE_ADDRESS=
REDEMPTION_MODULE_ADDRESS=
SETTLEMENT_TOKEN_ADDRESS=
ORACLE_ROUTER_ADDRESS=
