PRIVATE_KEY=
ADMIN_PRIVATE_KEY=
HASHKEY_TESTNET_RPC_URL=https://testnet.hsk.xyz
HASHKEY_MAINNET_RPC_URL=https://mainnet.hsk.xyz
ADMIN_ADDRESS=
ISSUER_ADDRESS=
SETTLEMENT_TOKEN_ADDRESS=
USE_NATIVE_SETTLEMENT=false
DEFAULT_JURISDICTION=344
SETTLEMENT_TOKEN_NAME=Demo USD
SETTLEMENT_TOKEN_SYMBOL=dUSD
